body{
	background-color:powderblue;
	font-family:Arial;
}
h1{
	margin-right:28%;
	margin-left:28%;
	text-align:center;
}
@media all and (max-width:766px){
	h1{
		margin-right:0px;
		margin-left:0px;
	}
}
form{
	border: 2px solid black;
	max-width:600px;
	margin:auto;
	padding-right:30px;
}
.c{
	margin-left:15%;
	margin-bottom:20px;
}
.d{
	margin-bottom:5px;
}
label{
	margin-left:15px;
	margin-bottom:13px;
	display:inline-block;
}
#p{
	margin-top:19px;
	font-weight:bold;
}
button{
	margin-left:43%;
	margin-bottom:10px;
}
input[type=text]{
	margin-left:15px;
	margin-bottom:15px;
	width:100%;
}
input[type=password]{
	margin-left:15px;
	margin-bottom:15px;
	width:100%;
}
input[type=radio]{
	margin-left:15px;
	margin-bottom:13px;
}